.section-cart {
    margin-bottom: 74px;
}

.cart-product-header {
    display: flex;
    justify-content: space-between;
}

.cart-product-header__item1 {
    width: 40%;
}

.cart-product-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 65px 0;
}

.cart-product-product {
    width: 40%;
}

.cart-product-product__description {
    margin: 10px 0 0 21px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart-product-product__btn {
    width: 40px;
    height: 50px;
    background: var(--white);
    border: none;
    cursor: pointer;
    font-size: 30px;
    transition: background 0.3s linear;
}
.cart-product-product__btn:hover {
    background: rgb(216, 204, 242);
}

.cart-product-product__price {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--dark-primary);
}

.cart-product-product__quantity {
    font-family: "Satoshi";
    font-size: 25px;
    line-height: 22px;
    color: var(--dark-primary);
}

.cart-product-product__price-wrapper {
    width: 10%;
    text-align: right;
}

.cart-product-header__item3 {
    width: 10%;
    text-align: right;
}

.cart-product-footer__btn {
    width: 172px;
    padding: 16px 32px;
    border: none;
    font-family: "Satoshi";
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    background: var(--dark-primary);
    transition: transform 0.3s linear;
}


.cart-product-footer__btn:hover {
    transform: scale(1.1);
}

.cart-product-footer__title {
    display: inline-block;
    margin-right: 16px;
}

.cart-product-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}
