.story-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    
}

.story__collection-block {
    width: 100%;
    max-width: 634px;
    height: 478px;
    background-color: var(--dark-primary);
    margin-bottom: 60px;
    padding: 64px 75px 54px 64px;
}

.story__title {
margin-bottom: 12px;
}

.story__subtitle{
margin-bottom: 205px;
}

.story__link {
    padding: 16px 32px;
    background: rgba(249, 249, 249, 0.15);
    color: var(--white);
    transition: color 0.3s linear;
}

.story__link:hover {
    color: rgb(216, 204, 242);
}



@media screen and (max-width: 768px) {
    .story__image {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .headline-two--white {
        font-size: 25px;
        line-height: 25px;
    }

    .story__subtitle {
        margin-bottom: 40px;
}

.story__collection-block {
    padding: 30px 5px 0px 5px;
    height: 255px;
}

}

@media screen and (max-width: 375px) {
    .headline-two--white {
        font-size: 20px;
    }
    .body-large--white {
        font-size: 16px;
    }
}