.headline-one {
}

.headline-two {
    font-family: "Clash Display";
    font-size: 32px;
    line-height: 44.8px;
    color: var(--dark-blue);
}

.headline-three {
    font-family: "Clash Display";
    font-size: 24px;
    line-height: 33.6px;
    color: var(--dark-primary);
}

.headline-four {
    font-family: "Clash Display";
    font-size: 20px;
    line-height: 28px;
    color: var(--dark-primary);
}

.body-medium {
    font-family: "Satoshi";
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-primary);
}

.body-large {
    font-family: "Satoshi";
    font-size: 18px;
    line-height: 27px;
    color: var(--blue);
}
