.headline-one {
    font-size: 36px;
    line-height: 50.4px;
    color:var(--dark-primary);
}

.headline-two {
    font-size: 32px;
    line-height: 44.8px;
    color: var(--dark-blue);
}

.headline-two--white {
    font-size: 32px;
    line-height: 39.36px;
    color: var(--white);
}

.headline-three {
    font-size: 24px;
    line-height: 33.6px;
    color: var(--dark-primary);
}

.headline-four {
    font-size: 20px;
    line-height: 28px;
    color: var(--dark-primary);
}

.headline-five {
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-primary);
}

.headline-five--white {
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
}

.headline-six {
font-size: 14px;
line-height: 17px;
color: var(--dark-primary);

}

.body-small {
    font-family: "Satoshi";
    font-size: 14px;
    line-height: 19px;
    color: var(--white);
}

.body-medium {
    font-family: "Satoshi";
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-primary);
}

.body-medium--white {
    font-family: "Satoshi";
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
}

.body-large {
    font-family: "Satoshi";
    font-size: 18px;
    line-height: 27px;
    color: var(--blue);
}

.body-large--white {
    font-family: "Satoshi";
    font-size: 18px;
    line-height: 24.3px;
    color: var(--white);
}
