.form__input{
        outline: none;
        border: none;
        width: 100%;
        max-width: 354px;
        height: 56px;
        background: var(--light-gray);
}

.form__input::placeholder{
    font-family: 'Satoshi';
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-primary);
    opacity: 0.2;
    padding-left: 32px;
}

.form__button {
    font-family: 'Satoshi';
   margin-left: -4px;
    width: 118px;
    height: 56px;
    line-height: 24px;
    color: var(--white);
    border: none;
    background: var(--dark-primary);
    transition: transform 0.3s linear;
    cursor: pointer;
}


.form__button:hover {
    transform: scale(1.1);
}

