.dropdown__menu {
    display: none;
}
.dropdown {
    display: inline-block;
    cursor: pointer;
  
}

.dropdown:hover .dropdown__menu {
    display: block;
}

.dropdown__item {
    margin-bottom: 5px;
    transition: background 0.3s linear ;
}

.dropdown__item:hover {
    background: rgb(216, 204, 242);

}


.dropdown__menu {
    position: absolute;
}


.products-menu__title {
    position: relative;
    margin-bottom: 10px;
    transition: background 0.3s linear ;
}

.products-menu__title:hover {
    background: rgb(216, 204, 242);
}

.products-menu__title::after {
    content: url(../../../images/products/Caret--down.svg);
   position: absolute;
   right: -18px;
   top: 3px;
}




