.cart {
   
    background: var(--light-gray);
}

.cart__wrapper {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    padding:0 5px 50px 5px;
}

.cart__title {
    padding: 64px 0 48px 0;;
}




@media screen and (max-width: 570px) {
    .cart__header-item3 {
        display: none;
    }
}
@media screen and (max-width: 420px) {
    .cart__title {
        font-size: 25px;
        text-align: center;
        padding: 15px 0 0 0;
    }

    .cart__main {
        margin: 40px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cart__header {
        display: none;
    }
}
