.header--product {
    width: 100%;
    max-width: 1280px;
    margin: 29px auto;
    display: flex;
    justify-content: space-between;
}

.header-user-menu__item:not(:last-child) {
    margin-right: 16px;
}

.products-tabs--product {
    display: flex;
    justify-content: space-between;
    flex: 0.25 0 auto;
   
}