.products-tabs {
    display: flex;
    justify-content: space-between;
    max-width: 676px;
    flex-wrap: wrap;
}

.products-tabs-wrapper {
    margin: 50px auto;
    padding: 10px;
    max-width: 675px;
    background: var(--light-gray);
}

.products-tabs__link {
    color: var(--light-blue);
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.3s linear;
}

.products-tabs__link:hover {
    color: var(--dark-primary);
    background-color: rgb(216, 204, 242);
}
