.our-brand {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5px;
}

.our-brand__wrapper {
    margin-top: 60px;
}

.our-brand__products {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 48px;
    flex-wrap: wrap;
    row-gap: 20px;

}



.our-brand__block {
    max-width: 305px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--light-gray);
    padding: 48px;
}

.our-brand__title {
    text-align: center;
    margin-bottom: 36px;
}

.our-brand__inner{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 110px;
    column-gap: 10px;
    row-gap: 20px;
}

.our-brand__link {
    margin-bottom: 116px;
}


.our-brand__title--product {
    margin: 80px 0 33px 0;
}


@media screen and (max-width: 950px) {
    .our-brand__inner {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {
.our-brand__block {
    max-width: 500px;
}
}

@media screen and (max-width: 500px) {
    .our-brand__title--product {
        margin: 15px 0 33px 0;
        font-size: 27px;
    }

    .our-brand__link {
        margin-bottom: 60px;
    }
}