.about-us {
    padding: 0 5px;
}


.about-us-story__text-content {
    width: 720px;
    
    padding: 72px 122px 0 84px;
}


.about-us-story__inner {
    display: flex;
    justify-content: space-around;
}

.about-us-story__inner--next {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.about-us__title {
    margin: 67px 0 79px 0;
}

.about-us-story__text {
    font-family: "Satoshi";
    font-size: 16px;
    line-height: 22px;
    color: #505977;
    margin-bottom: 25px;
}

.about-us-story__title {
    margin-bottom: 25px;
}

.about-us-story__text-content p:last-of-type {
    margin-bottom: 200px;
}

.about-us-story__img {
    width: 744px;
    display: block;
    max-width: 100%;
    height:  auto;
}

@media screen and (max-width: 1285px) {
    .about-us-story__text-content p:last-of-type {
        margin-bottom: 10px;
    }

}



@media screen and (max-width: 1150px) {
    .about-us-story__inner, .about-us-story__inner--next {
        flex-wrap: wrap;
    }

    .about-us-story__img {
        margin-top: 30px;
    }

    .about-us-story__text-content {
        padding: 0;
    }

    .about-us-story__title {
        margin-top: 50px;
    }

    .about-us__title {
        margin: 67px 0 0px 0;
    }
}

@media screen and (max-width: 768px) {
    .about-us__title br {
        display: none;
    }

    .headline-one {
        font-size: 25px;
        line-height: 30px;
    }

    .headline-three {
        font-size: 20px;
    }
    .about-us__title {
        margin: 28px 0 0px 0;
    }

    .about-us-story__title {
        margin-top: 22px;
    }

    .distribution__title {
        font-size: 26px;
        padding: 25px 0 12px 0;
    }
    
    
}