.products-header {
    background: url(../../../images/products/Frame.jpg);
    height: 209px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.products-header__title {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 36px;
}

.products-menu {
    width: 100%;
    max-width: 1280px;
    margin: 20px auto 48px;
    display: flex;
}





.products-menu__wrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

/* .products-menu__wrapper {
    margin: 20px 80px 48px 0;
} */

.products-gallery {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
    row-gap: 50px;
}

.products-gallery__link {
    align-items: center;
}

.products__link {
    margin-bottom: 80px;
}

@media screen and (max-width: 1440px) {
    .products-header__title,
    .products-gallery {
        padding: 0 5px;
    }
}

@media screen and (max-width: 768px) {
    .products-gallery {
        margin-bottom: 30px;
    }

    .products__link {
        margin-bottom: 50px;
    }

}



@media screen and (max-width: 500px) {
    .products-header {
        height: 80px;
    }

    .products-gallery {
        row-gap: 20px;
    } 

    .products-header__title {
        margin: 0 auto 16px;
        font-size: 25px;
    }
}

@media screen and (max-width: 375px) {
    .btn {
        font-size: 13px;
    }
}
