.header__wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 1384px;
    margin: 0 auto;
}

.header__inner {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo-wrapper {
    flex: 0.25 0 auto;
    text-align: end;

}

.logo {
    color: var(--dark-blue);
    font-size: 24px;
    transition: color 0.3s linear;
}

.header-navigation__menu {
    display: flex;
    justify-content: space-between;
    margin-right: 48px;
}

.header-navigation__item {
    margin-right: 32px;
}

.header-navigation__item:last-child {
    margin-right: 0;
}
.header-navigation__menu-user {
    display: flex;
}

.header-navigation__item-user {
    margin-right: 16px;
}

.header-navigation__item-user:last-child {
    margin-right: 0;
}

.header-navigation__link {
    font-family: "Satoshi";
    color: var(--light-blue);
    
}

.header-navigation__link:hover {
    border-bottom: 2px solid;
}

.header__icon {
    fill: var(--dark-primary);
    transition: fill 0.3s linear;
}

.header__hamburger {
    border: none;
    padding: 0px;
    display: none;
}

.header__icon:hover {
    fill: rgb(216, 204, 242);
}






@media screen and (max-width: 1440px) {
    header {
        padding: 0 5px;
    }

}

@media screen and (max-width: 768px) {
   

    .header-navigation__menu {
        display: none;
    }

    .logo-wrapper {
        flex: 0 0 auto;
    }
    .header-navigation__item-user:last-child {
        margin-right: 16px;
    }

}
