.btn--get-in-touch {
  
    width: 150px;
    height: 56px;
    background: var(--light-gray);
    border: none;
    cursor: pointer;
    transition: background 0.3s linear;
}


.btn--get-in-touch:hover {
    background:  rgb(216, 204, 242);
}


