.cart {
   
    background: var(--light-gray);
}


.cart__wrapper {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    padding:0 5px 50px 5px;
}

.cart__title {
    padding: 64px 0 48px 0;;
}