.section-product {
    background: var(--light-gray);
    margin-bottom: 80px;
}

.product {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0 47px 0;
}

.product__item {
    width: 50%;
}

.product__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.product__description {
    padding: 20px 60px;
}

.product__title {
    margin-bottom: 16px;
}

.product__subtitle {
    margin-bottom: 14px;
}

.product__text {
    margin-bottom: 36px;
}

.product-dimensions {
    margin-bottom: 40px;
}

.product-dimensions__title {
    margin-bottom: 24px;
}

.product__price {
    display: block;
    font-family: "Satoshi";
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-primary);
    margin-bottom: 52px;
}

.product__counter {
    margin-bottom: 60px;
}

.product__quantity {
    font-family: "Satoshi";
    font-size: 25px;
    line-height: 22px;
    color: var(--dark-primary);
    margin: 0 10px 5px 10px;
}

.product-dimensions__wrapper {
    display: flex;
}

.product-dimensions__item:not(:last-child) {
    margin-right: 99.5px;
}

.product-dimensions__subtitle {
    margin-bottom: 15px;
}

.product__btn-quantity {
    width: 50px;
    height: 50px;
    background: var(--white);
    border: none;
    cursor: pointer;
    font-size: 42px;
    transition: background 0.3s linear;
}

.product__btn-quantity:hover {
    background: rgb(216, 204, 242);
}

.product__btn-cart {
    display: block;
}

.product__btn-cart {
    width: 143px;
    height: 56px;
    background: var(--dark-primary);
    font-family: "Satoshi";
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    cursor: pointer;
    border: none;
    transition: transform 0.3s linear ;
}

.product__btn-cart:hover {
    transform: scale(1.1);
}



@media screen and (max-width: 1000px) {
    .product {
        justify-content: center;
        flex-wrap: wrap;
        padding: 50px 5px 47px 5px;
    }

    .product__item {
        width: auto;
    }

    .product__description {
        max-width: 721px;
    }

    .product__description {
        padding: 20px 0;
    }
}

@media screen and (max-width: 500px) {
    .product__title {
        font-size: 27px;
        margin-bottom: 0;
    }

    .product__price {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .product__text {
        margin-bottom: 17px;
    }

    .product-dimensions {
        margin-bottom: 22px;
    }

    .product__counter {
        margin-bottom: 25px;
    }
    .product {
        padding: 50px 5px 0 5px;
    }
}

@media screen and (max-width: 375px) {
    .product-dimensions__item:not(:last-child) {
        margin-right: 60px;
    }
}
