.product-card {
    cursor: pointer;
    transition: transform 0.3s linear;
}

.product-card:hover {
    transform: scale(1.1);
}




.product-card__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.product-card__image {
    margin-bottom: 24px;
}

.product-card__title {
    font-size: 20px;
    line-height: 28px;
    color: var(--dark-primary);
    margin-bottom: 8px;
}

.product-card__price {
    font-family: "Satoshi";
    font-size: 18px;
    line-height: 27px;
    color: var(--dark-primary);
}
