


.distribution {
  background-image: url(../../../images/distribution/image.jpg);
   height: 444px;
   background-size: cover;
   text-align: center;
}



.distribution__title {
  padding: 97px 0 12px 0;
}

.distribution__subtitle {
  margin-bottom: 30px;
}

.distribution-benefits{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.distribution-benefits__text {
  display: inline-block;
  vertical-align: super;
  margin-right: 37px;
}

.distribution-benefits__icon{
  margin-right: 8px;
}


