.product-card {
    cursor: pointer;
    transition: transform 0.3s linear;
}

.product-card:hover {
    transform: scale(1.1);
}

.product-card__image {
    margin-bottom: 24px;
    display: block;
    max-width: 100%;
    height: auto;
}

.product-card__title {
    font-size: 20px;
    line-height: 28px;
    color: var(--dark-primary);
    margin-bottom: 8px;
}

.product-card__price {
    font-family: "Satoshi";
    font-size: 18px;
    line-height: 27px;
    color: var(--dark-primary);
}

.our-brand__products {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
}

    @media screen and (max-width: 960px) {
        .product-card__image {
            width: 250px;
        }
    }

    @media screen and (max-width: 800px) {
        .product-card__image {
            width: 200px;
        }
    }

    @media screen and (max-width: 650px) {
        .product-card__image {
            width: 180px;
        }
    }

    @media screen and (max-width: 400px) {
        .product-card__image {
            width: 230px;
        }
        .product-card__wrapper {
            margin-bottom: 0;
        }
    }

