

.center {
    text-align: center;
}


.flex-container {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


.icon {
    width: 24px;
    height: 24px;
}





