@font-face {
    font-family: 'Clash Display';
    font-weight: 400;
    src: url('./assets/fonts/ClashDisplay/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Satoshi';
    font-weight: 400;
    src: url('./assets/fonts/Satoshi/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf') format('opentype');
}
