
.distribution {
  background-image: url(../../../images/distribution/image.jpg);
   background-size: cover;
   text-align: center;
   padding: 0 5px 50px 5px
}



.distribution__title {
  padding: 97px 0 12px 0;
}

.distribution__subtitle {
  margin-bottom: 30px;
}

.distribution-benefits{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.distribution-benefits__text {
  display: inline-block;
  vertical-align: super;
  margin-right: 37px;
}

.distribution-benefits__icon{
  margin-right: 8px;
}

.distribution__form {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 450px) {
  .distribution__title {
    font-size: 28px;
    padding: 32px 0 12px 0;

  }

  .our-brand__inner {
    margin-bottom: 30px;
  }

  .our-brand__block {
    padding: 15px;
  }
}